menu "M5Unit enable"
    config SOFTWARE_UNIT_ENV2_SUPPORT
        bool "UNIT-ENV2-Hardware"
        default n
        help
            Sensor : temperature, humidity, pressure

    config SOFTWARE_UNIT_ENV3_SUPPORT
        bool "UNIT-ENV3-Hardware"
        default n
        help
            Sensor : temperature, humidity, pressure

    config SOFTWARE_UNIT_BME680_SUPPORT
        bool "UNIT-BME680-Hardware"
        default n
        help
            Sensor : temperature, humidity, pressure

    config SOFTWARE_UNIT_ADT7410_SUPPORT
        bool "UNIT-ADT7410-Hardware"
        default n
        help
            Sensor : temperature

    config SOFTWARE_UNIT_BMP280_SUPPORT
        bool "UNIT-BMP280-Hardware"
        default n
        help
            Sensor : pressure

    config SOFTWARE_UNIT_QMP6988_SUPPORT
        bool "UNIT-QMP6988-Hardware"
        default n
        help
            Sensor : pressure

    config SOFTWARE_UNIT_ENV_SCD30_SUPPORT
        bool "UNIT-ENV-SCD30-Hardware"
        default n
        help
            Sensor : temperature, humidity, co2

    config SOFTWARE_UNIT_ENV_SCD40_SUPPORT
        bool "UNIT-ENV-SCD40-Hardware"
        default n
        help
            Sensor : temperature, humidity, co2

    config SOFTWARE_UNIT_ENV_MHZ19C_SUPPORT
        bool "UNIT-MHZ19C-Hardware"
        default n
        help
            Sensor : co2

    config SOFTWARE_UNIT_SK6812_SUPPORT
        bool "UNIT-SK6812-Hardware"
        default n
    config SOFTWARE_UNIT_BUTTON_SUPPORT
        bool "UNIT-BUTTON-Hardware"
        default n
    config SOFTWARE_UNIT_LED_SUPPORT
        bool "UNIT-LED-Hardware"
        default n
    config SOFTWARE_UNIT_4DIGIT_DISPLAY_SUPPORT
        bool "UNIT-4DigitDisplay"
        default n
    config SOFTWARE_UNIT_6DIGIT_DISPLAY_SUPPORT
        bool "UNIT-6DigitDisplay"
        default n

endmenu
